<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="mobil2"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.mobile2">

        <!-- 스플래시 (런처) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 로그인 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- 회원가입 -->
        <activity
            android:name=".SignupActivity"
            android:exported="true" />

        <!-- 홈 -->
        <activity
            android:name=".HomeActivity"
            android:exported="true" />

        <!-- 냉장고 -->
        <activity
            android:name=".FridgeActivity"
            android:exported="true" />

        <!-- 상품 등록 -->
        <activity
            android:name=".AddFoodActivity"
            android:exported="true" />

    </application>

</manifest>
